<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>(SP)Pong+.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABC96BD527F21C8A00B861ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC96BE527F21C8B00B861ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC96BEF27F21C8B00B861ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
